
    body {
        background-color:red;
    }
    p {
        background-color: maroon;
        color: white;
        text-align: center
    }
    .container {
        position: relative;
        text-align: center;
        color: white;
    }
    .middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 70px
    }
    li {
        background-color: yellow;
        font-size: 12px
        
    }
    ul {
    list-style-type: square;
    }

    
