
    body {
        background-color:red;
    }
    p {
        background-color: maroon;
        color: white;
        text-align: center;
        font-size: 20px;
    }
    .container {
        position: relative;
        text-align: center;
        color: grey;
    }
    .middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 70px
    }
    li {
        background-color: white;
        color: yellow;
        font-size: 18px;
        
    }
    ul {
    list-style-type: square;
    }
     
    a:link {
        color: red;
        background-color: transparent;
        text-decoration: none;
    }
a:visited {
    color: red;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

    
